<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTION</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id = "right-nav-buttons">
			<span>LOG IN</span>
			</li>
			
			<li id="right-nav-buttons">
			<span>SUBSCRIBE NOW</span>
			</li>

			
	
		</ul>
	</nav>

</header>